<div class="header">
  <div class="root">
    <%= link_to t(".home"), root_path %>
    <%= link_to t(".products"), products_path %>
    <% if customer_signed_in? %>
      <%= link_to t(".cart"), orders_path %>
    <% end %>
  </div>
  <div class="login_logout_header">
    <% if customer_signed_in? %>
      <%= t(".sign_in_as_customer", email: current_customer.email) %>
      <%= link_to t(".sign_out"), logout_customer_path %>
    <% else %>
      <%= link_to t(".login"), sign_in_customer_path, class: "login_link" %>
      <%= link_to t(".registration"), new_customer_path, class: "registration_link" %>
    <% end %>
  </div>
</div>
