<h2>Registration</h2>
<div class="registration">

  <%= simple_form_for(@customer, url: customers_path(@customer)) do |f| %>
    <%= customer_sign_up_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label t(".first_name") %><br />
      <%= f.input_field :firstname %>
    </div>

    <div class="field">
      <%= f.label t(".last_name") %><br />
      <%= f.input_field :lastname %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
