<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_no %>: <%= @order.order_no %>
  </div>
  <div class="field">
    <%= f.label :total %>: <%= number_to_currency @order.total %>
  </div>
  <div class="field">
    <%= f.label :confirm_status %>: <%= order_confirmation_status(@order) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
