<div class="order">
  <h1>Listing Orders</h1>

  <table>
    <thead>
      <tr>
        <th>Order No</th>
        <th>Total Price</th>
        <th>Confirm Status</th>
        <th>Updated At</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.order_no, order %></td>
          <td><%= order.total %></td>
          <td><%= order.confirm_status ? "Confirm" : "Pending" %></td>
          <td><%= order.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
