<div class="order">
  <p>
    <strong>Order no:</strong>
    <%= @order.order_no %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= number_to_currency @order.total %>
  </p>

  <p>
    <strong>Confirm Status:</strong>
    <%= order_confirmation_status(@order) %>
  </p>

  <% @order_lines.each do |line| %>
    <%= line.product.name %>
  <% end %>
</div>

<div class="actions">
  <% unless @order.confirm_status %>
    <%= link_to 'Edit', edit_order_path(@order), class: "button" %>
  <% end %>
  <%= link_to 'Back', orders_path, class: "button" %>
</div>
