<div class="order">
  <h1>Order Details</h1>
  <div class="order-detail">
    <strong>Order no:</strong>
    <%= @order.order_no %>
  </div>

  <br>
  <div class="order-detail">
    <strong>Total:</strong>
    <%= number_to_currency @order.total %>
  </div>

  <br>
  <div class="order-detail">
    <strong>Confirm Status:</strong>
    <%= order_confirmation_status(@order) %>
  </div>

  <br>
  <%= render partial: "order_lines", locals: { order_lines: @order_lines } %>
</div>

<div class="actions">
  <% unless @order.confirm_status %>
    <%= link_to 'Edit', edit_order_path(@order), class: "button" %>
  <% end %>
  <%= link_to 'Back', orders_path, class: "button" %>
</div>
