<div class="order">
  <p>
    <strong>Order no:</strong>
    <%= @order.order_no %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= @order.customer_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @order.total %>
  </p>

  <p>
    <strong>Confirm Status:</strong>
    <%= @order.confirm_status %>
  </p>
</div>

<div class="actions">
  <%= link_to 'Edit', edit_order_path(@order), class: "button" %>
  <%= link_to 'Back', orders_path, class: "button" %>
</div>
