<div class="product">
  <h1>Listing Products</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image url</th>
        <th>Price</th>
        <% if admin_signed_in? %>
          <th>Status</th>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= product.description %></td>
          <td><%= image_tag product.image_url, class: "image-url" %></td>
          <td><%= number_to_currency(product.price) %></td>
          <% if admin_signed_in? %>
            <td><%= product.status %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

<div class="actions">
  <% if admin_signed_in? %>
    <%= link_to 'New Product', new_product_path, class: "button" %>
  <% end %>
</div>
