<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if customer_signed_in? %>
    <%= link_to t(".sign_out"), destroy_customer_session_path, method: :delete %>
  <% else %>
    <%= link_to t(".login"), new_customer_session_path %>
    <%= link_to t(".registration"), new_customer_registration_path %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <div class="footer">
    <%= link_to t(".home"), root_path %>
  </div>
</body>
</html>
